

:host {
  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 0 16px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
    height: 100%;
  }

  nz-footer {
    text-align: center;
  }


  ::ng-deep .ant-menu.ant-menu-inline-collapsed .ant-menu-item-group-title {
    display: none;
  }

  ::ng-deep .ant-menu-item-selected {
    //background: fade(@ped-pink-2, 12%) !important;
    //color: @ped-black-1;
  }

  [nz-menu] {
    width: 200px;
  }

  [nz-menu-item] {
    white-space: nowrap;
    line-height: normal;
    text-align: start;
  }

  [nz-menu-item]:hover {
    //color: @ped-black-1;
    //background: fade(@ped-pink-2, 5%);
  }
}

::ng-deep router-outlet + * {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
